


<section class="h-100" id="sec" >
    <form [formGroup]="updateCropForm" (ngSubmit)="onSubmit()" ><br>
      <button type="button" (click)="back()" class="btn btn-danger btn-lg ms-2" id="backbtn">Back</button>
    <div class="container py-2 h-50">
      <div class="row d-flex justify-content-center align-items-center h-50">
        <div class="col">
          <div class="img">
            <div class="row g-0">
              
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black ">
                  <h3 class="mb-5 text-uppercase" id="crop">Update Crop</h3>
                  <div class="col-md-3 mb-3">
                    <input type="text" id="form3Example97" class="form-control form-control-lg" formControlName="cropId" value="{{id}}" readonly/>
                    <label class="form-label" for="form3Example97">Crop Id</label>
                  </div>
                  <select class="form-select " formControlName="cropType">
                    <!-- <option selected>Crop Type</option> -->
                    <option selected value="fruit">Fruit</option>
                    <option value="vegatable">Vegatable</option>
                    <option value="flower">Flower</option>
                  </select><br>
                  <span *ngIf="!cropType?.valid && (cropType?.dirty || cropType?.touched)" style="color: red;">Crop Type
                    is required</span>
                  <div class="row">
                    
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="cropname" class="form-control form-control-lg" formControlName="cropName" 
                        required placeholder="CropName" (keypress)="letterOnly($event)"/>
                        <span *ngIf="!cropName?.valid && (cropName?.dirty || cropName?.touched)" style="color: red;">Crop
                          Name is required</span>
                        <label class="form-label" for="form3Example1m">Crop Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" formControlName="phoneNumber"
                        (keypress)="keyPressNumbers($event)"/>
                        <span *ngIf="!phoneNumber?.valid && (phoneNumber?.dirty || phoneNumber?.touched)" style="color: red;">
                          Contact Number required & must be 10 digit</span>
                        <label class="form-label" for="form3Example1n">Contact Number</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="text" id="form3Example1n" class="form-control form-control-lg" formControlName="quanity"
                        placeholder="eg. 100kg"/>
                        <span *ngIf="!quanity?.valid && (quanity?.dirty || quanity?.touched)" style="color: red;">Crop
                          Quantity is required</span>
                        <label class="form-label" for="form3Example1n">Quantity</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <input type="text" id="form3Example8" class="form-control form-control-lg" formControlName="locationName" 
                        (keypress)="letterOnly($event)"/>
                        <span *ngIf="!locationName?.valid && (locationName?.dirty || locationName?.touched)"
                        style="color: red;">Location Name is required</span>
                        <label class="form-label" for="form3Example8">Location</label>
                      </div>
                      <div class="col-md-6 mb-4">
                        <input type="text" id="form3Example90" class="form-control form-control-lg" formControlName="district"
                        (keypress)="letterOnly($event)" />
                        <span *ngIf="!district?.valid && (district?.dirty || district?.touched)" style="color: red;">City is
                          required</span>
                        <label class="form-label" for="form3Example90">City</label>
                      </div>
                      <div class="col-md-6 mb-4">
                        <input type="text" id="form3Example9" class="form-control form-control-lg" formControlName="state"
                        (keypress)="letterOnly($event)"/>
                        <span *ngIf="!state?.valid && (state?.dirty || state?.touched)" style="color: red;">state is
                          required</span>
                        <label class="form-label" for="form3Example9">State</label>
                      </div>
                     
                        <div class="col-md-6 mb-4">
                        <input type="text" id="form3Example97" class="form-control form-control-lg" formControlName="pincode"
                        (keypress)="keyPressNumbers($event)"/>
                        <span *ngIf="!pincode?.valid && (pincode?.dirty || pincode?.touched)"
                      [hidden]="!pincode?.errors?.['required']" style="color: red;">pincode is required</span>
                        <label class="form-label" for="form3Example97">Pincode</label>
                      </div>
                      <div class="col-md-6 mb-4">
                        <button type="button" class="btn btn-light btn-lg" (click)="back()">Cancel</button>
                        <button type="submit" [disabled]="updateCropForm.invalid" class="btn btn-warning btn-lg ms-2">Save</button>
                      </div>

                    
      
                      <!-- <div class="d-flex justify-content-end pt-3">
                        <button type="button" class="btn btn-light btn-lg" (click)="back()">Cancel</button>
                        <button type="submit" class="btn btn-warning btn-lg ms-2">Save</button>
                      </div> -->
      

                  </div>
   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>
  </section>
  <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-dark" id="myfooter">
        <div class="text-white mb-3 mb-md-0">
          <img src="./assets/images/logo4.jpg" class="rounded-circle me-3" height="50px"
          width="50px" />
             AgroApp Copyright © 2022. All rights reserved.
        </div>
      </div>