<div >
  <br>
  <section class="bg-img">

  </section>
  <br>

  <section id="grains">
    <div class="row" >
      <div class="one col-lg-4 col-md-12 col-10 p-0">
        <img class="img-fluid" src="./assets/images/wheat.jpg" alt="">
        <div class="details">
          <h3>Green-Wheat </h3>
        </div>
      </div>
      <div class="one col-lg-4 col-md-12 col-10 p-0">
        <img class="img-fluid" src="./assets/images/corn.jpg">
        <div class="details">
          <h3>Corn Food</h3>
        </div>
      </div>
      <div class="one col-lg-4 col-md-12 col-10 p-0">
        <img class="img-fluid" src="./assets/images/peanut.jpg" alt="">
        <div class="details">
          <h3>Peanuts </h3>
        </div>
      </div>
    </div>
  </section>

  <section id="fruits " class="my-5 pb-5">
    <div class="container text-center mt-5 py-5">
      <h3>Fresh-Fruits</h3>
      <hr class="mx-auto">

    </div>
    <div class="row mx-auto container-fluid">
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/banana.jpg" alt="">
        <h5 class="p-name">Organic Banana</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pgrapes.jpg" alt="">
        <h5 class="p-name">Grapes</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pstrawberry.jpg" alt="">
        <h5 class="p-name">Strawberry</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pmango.jpg" alt="">
        <h5 class="p-name">Star-Fruit</h5>
      </div>
    </div>
  </section>




  <section id="leafyvegetables" class="my-5 ">
    <div class="container text-center mt-5 py-5">
      <h3>Green-Leafy Vegetables</h3>
      <hr class="mx-auto">
    </div>
    <div class="row mx-auto container-fluid">
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pcilantro.jpg" alt="">
        <h5 class="p-name">Cilantro Leafy</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pFenugreek.jpg" alt="">
        <h5 class="p-name">Green Fenugreek</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pcabbages.jpg" alt="">
        <h5 class="p-name">Organic Cabbages</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/pSpinach.jpg" alt="">
        <h5 class="p-name"> Organic Spinach</h5>
      </div>
    </div>
  </section>



  <section id="vegetables" class="my-5 ">
    <div class="container text-center mt-5 py-5">
      <h3>Vegetables</h3>
      <hr class="mx-auto">
    </div>
    <div class="row mx-auto container-fluid">
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/onion.jpg" alt="">
        <h5 class="p-name">Red onions</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/tomato.jpg" alt="">
        <h5 class="p-name">Tomato</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/simlaGreen.jpg" alt="">
        <h5 class="p-name">Simla Green</h5>
      </div>
      <div class="product text-center col-lg-3 col-md-4 col-12">
        <img class="img-fluid mb-3" src="./assets/images/began.jpg" alt="">
        <h5 class="p-name">Brinjal </h5>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>








<!-- <router-outlet></router-outlet> -->