


<footer class="mt-5 py-5">
    <div class="row container mx-auto pt-5">
        <div class="footer-one col-lg-3 col-md-6 col-12">
        <img src="./assets/images/logo1.webp" alt="" width="200" height="200">
        <p class="pt-3">At Contoso, we empower farming communities to foster collaborative thinking to further drive workplace innovation. we help businesses grow organically and nuture a consumer first mindset</p>
    </div>
   
    <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
    <h5 class="pb-2">Featured</h5>
    <ul class="text-uppercase list-unstyled">
        <li><a href="#">Fruits</a></li>
        <li><a href="#"> FrshVegetables</a></li>
        <li><a href="#">Leafy Vegetables</a></li>
        <li><a href="#">Cotton</a></li>
        <li><a href="#">Peanuts</a></li>
    </ul>
   </div>
   
   <div class="footer-one col-lg-3 col-md-6 col-12 mb-3">
    <h5 class="pb-2">Contact Us</h5>
    <div>
        <h6 class="text-uppercase">Address</h6>
        <p>706 A WING SIDDHI VIHAR GAADITAL, HADPASAR DIST PUNE, MAHARASHTRA, INDIA 411028</p>
    </div>
    <div>
        <h6 class="text-uppercase">phone</h6>
        <p>(+91)7249714141</p>
    </div>
    <div>
        <h6 class="text-uppercase">email</h6>
        <p>agroappservices@gmail.com</p>
    </div>
   </div>
   
   <div class="footer-one col-lg-3 col-md-6 col-12">
    <h5 class="pb-2"></h5>
    <div class="row">
        <img  class="img-fluid w-25 h-100 m-2" src="./assets/images/img1.jpg" alt="">
        <img  class="img-fluid w-25 h-100 m-2" src="./assets/images/img1.jpg" alt="">
        <img  class="img-fluid w-25 h-100 m-2" src="./assets/images/insta3.webp" alt="">
        <img  class="img-fluid w-25 h-100 m-2" src="./assets/images/insta4.webp" alt="">
        <img  class="img-fluid w-25 h-100 m-2" src="./assets/images/insta5.webp" alt="">
    </div>
   </div>
   </div>
   
   <div class="copyright mt-5">
    <div class="row container mx-auto">
          <div class="col-lg-3 col-md-6 col-12 mb-4">
            <img src="img/payment.png" alt="">
        </div>
   
        <div class="col-lg-4 col-md-6 col-12 text-nowrap mb-2">
            <img src="./assets/images/logo4.jpg" class="rounded-circle me-3" height="50px"
        width="50px" />
            <p>AgroApp E-services @2022, All Rights Reserved</p>
        </div>
   
        <div class="col-lg-4 col-md-6 col-12">
            <a href="#"><i class="fab fa-facebook-square"></i> </a>
            <a href="#"><i class="fab fa-twitter"></i> </a>
            <a href="#"><i class="fab fa-linkedin"></i> </a>
        </div>
    </div>
</div>
</footer>
